<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
 <div class="container">
    <a class="navbar-brand" href="#">
      Service Trip
    </a>
  </div>
</nav>

<section id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 col-sm-10 text-center">
        <h2>About</h2>
        <br>
        <p>
          Find service trip projects you would like to be a part of!
          <br>
          Add an upcoming service trip project!
        </p>
      </div>
    </div>
  </div>
</section>

<section id="addEvent" class="bg-light" >
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 col-sm-10 text-center">
        <h2 class="text-center">Add a Service Trip</h2>
        <br>
        <form class="text-left">
          <div class="form-row">
            <div class="form-group col-sm-6">
              <label>Event Name</label>
              <input name="eventName" [(ngModel)]="eventTobeAdded.eventName" class="form-control"
                     required>
            </div>
            <div class="form-group col-sm-6">
              <label>Organization</label>
              <input name="organization" [(ngModel)]="eventTobeAdded.organization"
                     class="form-control" required>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-sm-4">
              <label>Start date</label>
              <input name="startDate" [(ngModel)]="eventTobeAdded.startDate" class="form-control"
                     placeholder="YYYY-MM-DD"
                     required>
            </div>
            <div class="form-group col-sm-4">
              <label>End date</label>
              <input name="endDate" [(ngModel)]="eventTobeAdded.endDate"  class="form-control"
                     placeholder="YYYY-MM-DD" required>
            </div>
            <div class="form-group col-sm-4">
              <label>Number of Spots</label>
              <input name="spots" [(ngModel)]="eventTobeAdded.numEnrolled" class="form-control"
                     required>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-sm-4">
              <label>Cost</label>
              <input name="cost" [(ngModel)]="eventTobeAdded.cost" class="form-control" required>
            </div>
            <div class="form-group col-sm-4">
              <label>Place</label>
              <input name="place" [(ngModel)]="eventTobeAdded.place" class="form-control" required>
            </div>
            <div class="form-group col-sm-4">
              <label>Tags</label>
              <input name="tag" [(ngModel)]="eventTobeAdded.tag" class="form-control" required>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-sm-12">
              <label>Description</label>
              <textarea name="eventDescription" [(ngModel)]="eventTobeAdded.eventDescription"
                        class="form-control" rows="2"
                        required></textarea>
            </div>
          </div>
          <br>
          <button type="submit" class="btn btn-outline-primary" (click)="addEvent()">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</section>


<section id="findEvents" >
  <div class="container">
    <div class="row justify-content-center">
    <div class="col-10 col-sm-10 text-center">
      <h2>Find a Service Trip</h2>
      <br>
      <p>
        Find a serice trip that suites you. Filter trips by cost or by tag.
      </p>
      <br>
      <form class="text-left">
        <div class="form-row">
        <div class="col-md-6 form-group">
          <label> Cost (less than): </label>
          <input name="cost" type="text" class="form-control" [(ngModel)]="cost"/>
        </div>
        <div class="col-md-6 form-group">
          <label>Tag: </label>
            <select name="tag"  class="form-control" [(ngModel)]="tag"
                    placeholder="Tag">
              <option>coldWeather</option>
              <option>nearBeaches</option>
              <option>nearNature</option>
              <option>lowBudget</option>
              <option>spanishSpeaking</option>
              <option>health</option>
              <option>abroad</option>
              <option>nearResorts</option>
              <option>teenagersWelcome</option>
              <option>familyFriendly</option>
            </select>
        </div>
        </div>
        <br>
        <button class="btn btn-outline-primary" (click)="getEvents()">
          Find Trips
        </button>
      </form>
    </div>
    </div>
  </div>
  <br>
  <div class="container events">
    <div *ngFor="let event of events" class="row justify-content-center event"  >
      <div class="col-10 col-sm-10 bg-light">
        <h3>{{event.eventName}}</h3>
        <h4>{{event.organization}}</h4>
        <p>{{event.eventDescription}}</p>
        <p>Cost: ${{event.cost}}.00</p>
        <p>Location: {{event.place}}</p>
        <p>Start Date: {{event.startDate}} </p>
        <p>End Date: {{event.endDate}}</p>
      </div>
    </div>
  </div>
</section>

